
###### These are required for bot to start #######
# Token and client ID are found within your https://discord.com/developers portal
# Enable all intents, ensure application is a "bot application". 
TOKEN=
CLIENT_ID=
statusMessage=Watching
prefix=!

# For Postgres15 database connection. This is assuming it's locally installed, with a default setup.
PGUSER=postgres
PGDATABASE=postgres
PGHOST=localhost
PGPORT=5432
PGPASSWORD=

####### API Codes & Misc - Optional #######
# Open API. Uses omni-moderation which requires loading $5 on to your openAI account to qualify... 
# It's free to use otherwise.
OPENAI_API_KEY=